<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Aviones</h3>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Codigo avion</th>
                            <th>Numero placa</th>
                            <th>Capacidad <br> Asientos </th>
                            <th>Dimensiones</th>
                            <th>AereoLinea que <br> Asignado</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>