<div class="container mt-3">
  <div class="card">
      <div class="card-header">
          <h3 class="text-center">Vuelos</h3>
          <div class="card-body">

              <!--boton de agregar-->
              <div class="row my-3 col-2">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop">
                      Agregar
                  </button>
              </div>


              <!--ventana para agregar registro de aviones-->











              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>id de vuelo</th>
                          <th>destino</th>
                          <th>fecha de salida</th>
                          <th>fecha de llegada</th>
                          <th>costo de asientos</th>
                          <th>estado de vuelo</th>
                          <th>id de avion</th>
                          <th>id de tripulacion</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let listarVuelos of listarVuelos">
                        <th>{{listarVuelos.idVuelo}}</th>
                        <th>{{listarVuelos.destino}}</th>
                        <th>{{listarVuelos.fechaSalida}}</th>
                        <th>{{listarVuelos.fechaLlegada}}</th>
                        <th>{{listarVuelos.costoAsientos}}</th>
                        <th>{{listarVuelos.estadoVuelo}}</th>
                        <th>{{listarVuelos.idAvion}}</th>
                        <th>{{listarVuelos.idTripulacion}}</th>

                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticAdminLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
                <h5 class="modal-title" id="staticAdminLabel">Agregar un vuelo</h5>
            </div>

            <div class="modal-body">
              <form class="was-validated" [formGroup]="informacionCreacionFormGroup">



                <div class="mb-3 row">
                  <label for="text" class="col-sm-2 col-form-label">Destino</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="validationTextarea" formControlName="destino"
                          placeholder="Origen" required="">
                  </div>
              </div>

             

               
            <div class="row">
              <div class="col">
                <mat-form-field appearance="legacy">
                  <mat-label>fecha Salida</mat-label>
                  <input matInput type="datetime-local" placeholder="start date" formControlName="fechaSalida">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="legacy">
                  <mat-label>fecha Llegada</mat-label>
                  <input matInput type="datetime-local" placeholder="start date" formControlName="fechaLlegada">
                </mat-form-field>
              </div>
            </div>


            <div class="mb-3 row">
              <label for="text" class="col-sm-2 col-form-label">Costo del vuelo</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="validationTextarea" formControlName="Q."
                      placeholder="costoAsientos" required="">
              </div>
          </div>

            




              </form>
            </div>



        </div> 
v  </div> 
</div>         