<br>
<div id="content" class="page col-sm col col-xs" style="opacity: 0.0; position: fixed;" >

    <div class="tabla2">

    </div>
    <div class="tabla3">
        <div class="letra" style="top: 14px; right: 110px; width: 150px;">
            BOARDING PASS
        </div>
    </div>
    <div class="tabla4">
        <div class="letra" style="top: 14px; left: 18px; width: 150px;">
            BOARDING PASS
        </div>
    </div>
    <img src="../assets/img/avion.png" class="imagen">
   

    <div class="tabla1 col-sm col col-xs">
        <div class="letraComun" style="top:20px;">
            PASSENGER NAME
            <br>
            <!-- <mat-label class="sinborde">{{vuelo?.nombrePasajero}}</mat-label> -->
        </div>
        <div class="letraComun" style="left: 250px; bottom: 18px;">
            FLIGHT
            <br>
            <!-- <mat-label class="sinborde">{{vuelo?.numeroVuelo}}</mat-label> -->
        </div>


        <!-- <div class="letraBoleto" style="top: 20px;">
            <mat-label class="sinborde">{{vuelo?.numeroBoleto}}</mat-label> <img src="../assets/img/vuelo.png"
                style="width: 180px; height: 50px;">
            <mat-label class="sinborde">{{vuelo?.numeroBoleto2}}</mat-label>
        </div> -->

        <div class="letraComun" style="top:50px;">
            CLASS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BOARDING TILL
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DATE
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TIME
        </div>

        <div class="letraDesc" style="top: 50px;">
            Y &nbsp;&nbsp;&nbsp; {{vuelo?.horaSalida}}
            &nbsp;&nbsp;&nbsp; <input type="text" class="clase" value="11">
        </div>

        <div class="letraComun" style="left: 328px; bottom: 5px;">
            <input type="text" class="date" [value]="vuelo?.horaSalida"> &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="date" [value]="vuelo?.horaLlegada">
        </div>
        <div class="borden-punteado col-sm col col-xs">
            <div class="tablaDesc">
                <div class="letraDescComun">
                    <b>PASSENGER NAME</b>
                    <br>
                    <!-- <input type="text" class="desc" [value]="vuelo?.nombrePasajero"> -->
                    <br>
                    <b>FROM</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" class="travel" [value]="vuelo?.origen">
                    <br>
                    <b>TO</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text"
                        class="travel" [value]="vuelo?.destino">
                    <br>
                    <b>
                        FLIGHT &nbsp;&nbsp;&nbsp; CLASS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        DATE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TIME</b>
                    <br>
                    <!-- <input type="text" class="flightDesc" [value]="vuelo?.numeroVuelo"> &nbsp; <input type="text"
                        style="text-align: center;" class="flightDesc" value="Y"> -->
                    &nbsp;&nbsp;
                    <input type="text" style="text-align: center;" class="flightDesc" [value]="vuelo?.horaSalida"> &nbsp;
                    <input type="text" style="text-align: center;" class="flightDesc" [value]="vuelo?.horaLlegada">
                    <br>
                    <b>FLIGHT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BOARD TILL</b>
                    <br>
                    <!-- <input type="text" class="flightDesc" [value]="vuelo?.numeroVuelo"> -->
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text"
                        style="text-align: center;" class="flightDesc" [value]="vuelo?.horaSalida">
                    <br>
                    <b> &nbsp; &nbsp; &nbsp;SEAT</b>
                    <div class="letraDesc" style="top: 5px;">

                        &nbsp; {{vuelo?.ubicacionAsiento}}
                    </div>
                    <div class="letraDespedida">
                        <br><br>
                        HAVE A NICE TRIP!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>