<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Aereopuertos</h3>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>codigo aereolinea</th>
                            <th>nombre aereolinea</th>
                        <!-- campo eliminado por efectividad -->
                            <th>ubicacion</th>
                            <th>Estado</th>
                            <th>Numero patente</th>
                            <th>Aereopuerto <br> Asignado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>