<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Usuarios</h3>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>codigo de usuario</th>
                            <th>nombre usuario</th>
                            <th>usuario</th>
                            <th>contraseña</th>
                            <th>Rol</th>
                            <th>Codigo pertenece</th>
                            <th>puesto</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>