<div class="container mt-4">
<div class="container mt-4">

    <mat-stepper [linear]="isLinear" #stepper>
        <!--bloque de ventana para poner parametros-->
    <mat-step>
        <form>
            <ng-template matStepLabel>Reservar Vuelo</ng-template>

            <mat-label >   Elige una fecha de salida   </mat-label>
            <mat-form-field class="espaciotexto" appearance="fill" >

                <mat-label>Fecha de salida </mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>





        </form>
    </mat-step>



<!--bloque de ventana para matriz-->
    <mat-step>
        <form>
            <ng-template matStepLabel>elige asientos</ng-template>
            <mat-label>asientos</mat-label>


            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="A">
                    <th mat-header-cell matHeaderCellDef> A </th>
                    <td mat-cellmatCellDef="let element"></td>
                      
                </ng-container>

                <ng-container matColumnDef="B">
                    <th mat-header-cell matHeaderCellDef> B</th>
                    <td mat-cellmatCellDef="let element"></td>
                      
                </ng-container>

                <ng-container matColumnDef="C">
                    <th mat-header-cell matHeaderCellDef> C</th>
                    <td mat-cellmatCellDef="let element"></td>
                      
                </ng-container>

                <ng-container matColumnDef="D">
                    <th mat-header-cell matHeaderCellDef> D</th>
                    <td mat-cellmatCellDef="let element"></td>
                      
                </ng-container>

                  <tr mat-header-row matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-rowmatRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            


        </form>
    </mat-step>



    </mat-stepper>    
        

</div>
